/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  @include breakpoint($large) {
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid var(--global-border-color);
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}


/*
   Table of contents
   ========================================================================== */

.toc {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-border-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1em;

  .nav__title {
    color: var(--global-text-color);
    font-size: $type-size-6;
    background: transparent;
    border: 0;
    padding: 0;
  }

  .toc__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: $type-size-6;

    a {
      display: block;
      padding: 0.25rem 0;
      color: var(--global-text-color);
      font-size: $type-size-7;
      font-weight: normal;
      line-height: 1.5;
      border-bottom: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    > li > a {
      font-weight: bold;
    }

    li ul > li a {
      padding-left: 1rem;
      font-weight: normal;
    }

    li ul li ul > li a {
      padding-left: 2rem;
    }

    li ul li ul li ul > li a {
      padding-left: 3rem;
    }
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__profile-wrap {
  @include breakpoint($large) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
}

.author__avatar {
  display: block;
  text-align: center;

  img {
    width: 190px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid var(--global-border-color);

    @include breakpoint($large) {
      width: 240px;
    }
  }
}

.author__content {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  line-height: 1;
  text-align: center;

  @include breakpoint($large) {
    width: auto;
    margin-top: 15px;
  }
}

.author__name {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-4;
}

.author__pronouns {
  margin-left: 0.4em;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: $type-size-6;
  color: var(--global-text-color-light);
}

.author__info {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: $sans-serif;
  font-size: $type-size-5;

  li {
    white-space: nowrap;
  }

  @include breakpoint($large) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5em;
    row-gap: 0.3em;
    margin-top: 15px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: block;
  font-family: $sans-serif;
  z-index: 10;
  text-align: center;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }
}

.author__urls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1.5em;
  row-gap: 0.3em;
  position: relative;
  margin: 15px 0 0;
  padding: 0;
  list-style-type: none;
  cursor: default;

  li {
    white-space: nowrap;
  }

  a {
    display: inline-flex;
    align-items: center;
    color: inherit;
    font-size: $type-size-5;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
